.navbar {
    display: flex;
    font-family: 'Oswald', sans-serif;
    margin: 0 5%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo section {
    margin-left: 10px;
}

.logo img {
    height: 50px;
    margin-bottom: 5px;
}

.links ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.links ul li {
    position: relative;
    padding: 10px 20px;
    cursor: pointer;
}

.links ul li a {
    text-decoration: none;
    color: white;
}

.links ul li:hover {
    color: #F28E00;
}

.links ul li a.active {
    color: #F28E00;
    text-decoration: underline;
}

.cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #F28E00;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 12px;
}

.menu {
    display: none;
}

@media only screen and (max-width: 767px) {
    .navbar {
        margin: 0;
        position: relative;
    }

    nav {
        padding: 0;
    }

    .menu {
        display: block;
        font-size: 30px;
        padding-right: 10px;
    }

    .links ul {
        display: none;
        flex-direction: column;
        position: absolute;
        left: 0;
        right: 0;
        top: 60px;
        z-index: 1;

        backdrop-filter: blur(10px);
   font-size:15px;
        padding: 10px;
        gap: 10px;
        list-style: none;
    }

    .links ul.open {
        display: flex;
    }

    .links ul li {
        display: block;
        padding: 10px;
    }
}
