.MembershipForm{
    border: solid;
    font-size: 20px;
    margin: 5px 25% 5%;
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.form-title{
    text-align: center;
    color: #f28e00;
    font-size: 30px;
}
.MembershipForm label{
    font-size: 30px;
    padding-bottom: 5px;
   
}
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.MembershipForm input, .MembershipForm select{
        padding: 15px  10px;
        width: 97%;
      
        color: white;
    background-color: transparent;
    border:1px solid grey;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.MembershipForm select{
    width: 100%;
}
.MembershipForm div {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.MembershipForm select option{
   backdrop-filter: blur(10px);
   height: 40px;
    background-color: rgb(24, 24, 24);
}
.bookingsubmit{
    display: flex;
    justify-content: center;
    margin: 5% 0px;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: #f28e00;
    color: white;
    font-size: 20px;
    border: none;
}
.error{
    color: rgb(255, 82, 82);
    font-size: 20px;
    
}
@media screen and (max-width: 712px) {
    .MembershipForm{
        margin:20% 5%;
    }
}