footer{

    height: 100%;
    background-color: #000;
    color: #fff;
    padding: 30px;
   
    
}
.links{
    display: flex;
 justify-content: space-around;
    
    
}
.links section h3{
    color: #f28e00;
  
}

.links section ol{
    display: flex;
    flex-direction: column;
    list-style: none;
}
.links section ol li{
    padding: 10px 0px;
}
.links section ol li:hover{
    color: #f28e00;
}
.footer-form{
    border-left: solid #f28e00;
    margin: 3% 0px;
 
}
.footer-form form{
    display: flex;
    flex-direction: column;
    
    margin: 5%;
}
.footer-form form input{
    background-color: #000;
  border: none;
  border-bottom: solid #fff;
  padding:  10px 20px;
  color: white;
}
.copyright{
    display: flex;
    justify-content: space-between;
    padding: 30px
}
.copyright section{
    display: flex;
    width: 300px;
}
@media only screen and (max-width: 767px) {
    .links{
        display: flex;
        flex-direction: column;
        gap: 20px
       
    }
    .copyright{
        display: flex;
        flex-direction: column;
        gap: 20px
       
    }
}