#root{
    background-image: url("/src/assets/background\ web\ 1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
                          z-index: -1;
    font-family: "Oswald", sans-serif;
}