.Plans-title{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
}
.Plans-title span{
    color: #f28e00;
}
.Plans{
    margin: 10%;
    font-family: 'Oswald', sans-serif;
}
.plancontainer{

    padding: 20px;
    display: flex;
  
    font-family: 'Oswald', sans-serif;
    justify-content: space-around;
}
.plancard{
  display: inline-block;
  padding: 25px;

  border-radius:0px 45% 0px 45% ;
  -webkit-border-radius:0px 45% 0px 45% ;
  -moz-border-radius:0px 45% 0px 45% ;
  -ms-border-radius:0px 45% 0px 45% ;
  -o-border-radius:0px 45% 0px 45% ;

 
  box-shadow:  12px -12px 24px #545454,
  -12px 12px 24px #ffffff;
}
.plancard:hover{
    transition: 1s ease;
    
    border-radius: 50px;
    
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -ms-transition: 1s ease;
    -o-transition: 1s ease;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.plancard h2{
    font-size: 40px;
}
.basic{
    color: #f28e00;
}
.price{
    color: #f28e00;
    font-size: 50px;
    font-weight: 900;
}
.plancard ul li{
    list-style: none;
    font-size: 20px;
    font-weight:800;
    padding-left: 10px;

}
@media only screen and (max-width: 767px) {
    .plancontainer{
        display: flex;
        margin: 0;
        gap: 40px;
        flex-wrap: wrap;
        padding: 0;
    }
    .plancard{

box-shadow:  12px 12px 24px #545454,
             -12px -12px 24px #ffffff;
    }

.Plans{
    margin: 10% 0px;
}
}
@media only screen and (min-width: 767px) and   (max-width: 1284px){
    .Plans{
        margin: 10% 0px;
    }
    .plancontainer{
        display: flex;
        margin: 5%;
       gap: 50px;
        flex-wrap: wrap;
        padding: 0;
    }
  
    .plancard:hover{
        width: auto;
        z-index: 1;
        transform: translateY(30px);
        -webkit-transform: translateY(30px);
        -moz-transform: translateY(30px);
        -ms-transform: translateY(30px);
        -o-transform: translateY(30px);
}
}