.Trainer-title{
    text-align: center;
    color: #f28e00;
    font-size: 50px;
}
.trainerheads{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

}
.trainer-card{
    display: inline-block;
    text-align: center;
    border: 1px solid #f28e00;
    backdrop-filter: blur(10px);
    border-radius: 20px;
   
    padding: 10px;
    color: white;
    font-size: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.trainer-image{
   
   overflow: hidden;
   width: 300px;
   height: 300px;
   border-radius: 50%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
}

.trainer-rating{
    color: #f28e00;
}
.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% 5%;
    gap : 30px;
}
.trainer-details{
    text-align: center;
    backdrop-filter: blur(10px);
    font-size: 20px;
    padding: 10px;
}
.book-button{
    background-color: #f28e00;
    color: white;
    border: none;
    padding: 10px 50px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    border-radius:10px ;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
@media screen and (max-width: 712px) {
    .profile{
        flex-direction: column;
    }
    .trainer-card{
       padding: 0px;
    }
}
@media screen and (max-width: 1024px) and (min-width: 712px) {
    .profile{
        flex-direction: column;
    }
    .trainer-card{
       padding: 0px;
    }
}
    